.content {
  padding: 20px;
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  box-sizing: border-box;
}

.myWord{


  display: flex;
  flex-direction: column;
  // font-family: Georgia, serif;
  .words{

    font-size: 1.5rem;
    font-weight:700;
    margin: 10px 0;
  }
}

.saveBtn{
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  View{
    width: 250px;
    font-weight: 600;
  }
  .falseButton{
    color: red;
    border: 2px red solid;
  }

}
