.content {
  padding: 20px;
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  box-sizing: border-box;
}

.studentCard {
  margin: 40px 20px;
  background-color: white;
  padding: 20px;
  border-radius: 13px;
  // border: #e3e3e3 1px solid;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;

  .studentInfo {
    position: relative;
    padding-right: 10px;
    display: flex;
    align-items: center;


    .avatar {
      width: 120px;
      height: 120px;
      //border-radius: 50%;
    }

    .logIn {
      margin: 20px;
      font-size: 40px;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      margin-left: 20px;
    }

    .userName {
      font-size: 30px;
      font-weight: bold;
    }

    .userid {
      font-size: 20px;
      color: rgb(195, 195, 195);
      font-weight: 500;
    }

    .calendar {
      margin-left: auto;
      display: flex;
      align-content: center;
      background-color: #FFD700;
      border-radius: 25px;
      padding: 5px 20px;
      font-size: 28px;
    }
  }

}

.divider {
  background-color: #D3D3D3;
  margin-top: 25px;
  margin-bottom: 25px;
}

.englishContent {
  position: relative;

  .bookInfo {
    position: relative;
    display: flex;

    .bookName {
      font-weight: bold;
      font-size: 24px;
    }

    .edit {
      justify-content: center;
      align-items: center;
      // position: absolute;
      // background-color: #FFD700;
      font-size: 24px;
      margin-left: 30px;
      display: flex;
      color: rgb(195, 195, 195);
      // padding: 5px 20px;
    }
  }

  .progress {
    margin-top: 30px;
  }

  .schedule {
    margin-top: 30px;
    display: flex;
    font-size: 22px;
    color: #C0C0C0;
    align-items: center;

    .remainDays {
      margin-left: auto;
    }
  }
}

.todayGoal {
  margin: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .goalText {
    margin-bottom: 35px;
    font-size: 20px;
    color: #C0C0C0;
  }

  .goalContent {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .newWords {
      position: relative;
      width: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      font-size: 30px;
    }

    text {
      margin: 10px;
    }

  }
}

.startWords {
  padding-top: 80px;
  margin: 0 auto;
  width: 70%;
  font-size: 40px;
}

