// .index{
//     margin: 20px;
// }

// .at-row{
//     background-color: aqua;
// }

.content {
  padding: 20px;
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  box-sizing: border-box;
}

.studentCard {

  margin: 40px;
  // padding: 20px;
  border-radius: 13px;
  overflow: hidden;

  .studentInfo {
    position: relative;
    padding-right: 10px;
    display: flex;

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      margin-left: 20px;
    }

    .username {
      font-size: 30px;
      font-weight: bold;
    }

    .userid {
      font-size: 20px;
      color: rgb(172, 172, 172);
      background-color: #e9f0f8;
      padding: 5px 10px;
      border-radius: 15px;
      font-weight: 500;
    }


  }

}

.editMyInfo {
  margin-top: 15px;
  margin-right: 40px;
  position: absolute;
  display: flex;
  right: 0;

}

.studentState {
  display: flex;
  margin: 0 40px;
  background-color: rgb(239, 239, 239);
  padding: 30px 10px;
  border-radius: 15px;

  .stateItem {
    /* 每个状态项的样式定义 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;

    view {
      display: flex;
      margin: 0 10px;

    }

    text {
      font-style: italic;
      font-weight: 700;
    }
  }
}


.studentFunctions {
  margin: 40px;
  border-radius: 10px;
  overflow: hidden;

  .functionItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 24px;
  }
}