.content {
    padding: 20px;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    box-sizing: border-box;
}

.grid-item-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.todayReadingsTop{
    // margin: 20px;
    // background-color: white;
    border-radius: 10px;
    .readingTop{
        margin: 10px 20px;
        padding: 20px;
        display: flex;
        position: relative;
    }


    text{
        font-size: 40px;
        font-weight: 900;
    }
}

.readingMore{
    display: flex;
    float: right;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    // top: ;
    .moreText{
        position: absolute;
        right:35px;
        font-size: 28px;
        // font-weight: normal;
        color: rgb(209, 209, 209);
    }
}

.contentImage{
    // margin: 20px;
    display: flex;
    height: 250px;
    width: 90%;
    border-radius: 12px;
    margin: 0 auto;
    overflow: hidden;
    background-image: url('../../static/images/03-healthy-lunch-break-packed-lunch.jpg'); 
    background-size: cover;
    background-position: center;
    // padding: 0px 40px;
    background-clip: padding-box;
}

.mainContent{
    font-weight: 700;
    margin: 20px 42px 1px 42px; 
    font-size: 35px;
}

.CNContent{
    font-weight: 600;
    margin: 5px 42px 1px 42px; 
    font-size: 24px;
}



.todayReadings{
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

.endMsg{
    margin: 70px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    Text{
        // font-size: 40px;
        // font-weight: bold;
        color: rgb(151, 151, 151);
        margin: 5px;
    }
    // margin: 0 auto;
}

.moudles{
    margin-top: 20px;
    background-color: white;
}
.van-floating-bubble {
    position: fixed;
    right: 2rem;
    bottom: 3rem;
}