.questionBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 60vh;
  margin: 2vw;

  .word {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 1vh;
  }

  .question {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1vh;
  }

  .options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .option {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 1vh;

      radio {
        margin-right: 1vw;
      }

      text {
        font-size: 18px;
      }
    }
  }
}

.pagination {
  height: 10vh;

}

.button {
  margin: 0.5vh 0;

  text {
    font-size: 16px;
  }
}

// /deep/ .page--active {
//   background-color: #24deb6 !important; /* 按钮背景色 */
//   color: white; /* 按钮文字颜色 */
// }